<div class="list-container">
  <h2>Providers</h2>
  <div class="providers-saved">
  	<h3>Saved</h3>
  	<div class="provider provider-selected" *ngFor="let selectedProvider of this.selectedProviders" [attr.id]="selectedProvider.id">
	  	<h4 class="provider-info">{{selectedProvider.name}}</h4>
	  	<h4 class="provider-info">{{selectedProvider.address}}</h4>
	  	<h4 class="provider-info">{{selectedProvider.phone}}</h4>
	  	<button class="provider-delete" (click)="updateProvider(selectedProvider.id, this.selectedProviders, this.unselectedProviders, 'remove')">x</button>
	  </div>
  </div>
  <div class="providers-unsaved">
  	<h3>All</h3>
  	<div class="provider providers-container" *ngFor="let unselectedProvider of this.unselectedProviders" [attr.id]="unselectedProvider.id" (click)="updateProvider(unselectedProvider.id, this.unselectedProviders, this.selectedProviders, 'add')">
	  	<h4 class="provider-info">{{unselectedProvider.name}}</h4>
	  	<h4 class="provider-info">{{unselectedProvider.address}}</h4>
	  	<h4 class="provider-info">{{unselectedProvider.phone}}</h4>
	</div>
  </div>
</div>
